@import 'menu-item';
@import 'directory';
@import 'collection/collection-item';
@import 'collection/collection-preview';
@import 'collection/collections-overview';
@import 'header';
@import 'form-input';
@import 'custom-button';
@import 'cart/cart-icon';
@import 'cart/cart-dropdown';
@import 'cart/cart-item';
@import 'pages/home-page';
@import 'pages/sign-in-and-out-page/sign-in';
@import 'pages/sign-in-and-out-page/sign-up';
@import 'pages/sign-in-and-out-page/sign-in-and-sign-up-page';
@import 'pages/checkout-page/checkout-item';
@import 'pages/checkout-page/checkout-page';
@import 'pages/collection-page';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 20px 60px;
  font-size: 18px;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: none;
  // font-family: sans-serif;
  // font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
