@import 'menu-item';
@import 'directory';
@import 'homepage';
@import 'collection-item';
@import 'collection-preview';
@import 'header';
@import 'sign-in';
@import 'sign-up';
@import 'sign-in-and-sign-up-page';
@import 'form-input';
@import 'custom-button';
@import 'cart-icon';
@import 'cart-dropdown';
@import 'cart-item';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 60px;
  font-size: 18px;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
