@import 'menu-item';
@import 'directory';
@import 'homepage';
@import 'collection-item';
@import 'collection-preview';

body {
  margin: 0;
  padding: 20px 60px;
  font-size: 18px;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
